<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="ion-text-center" *ngIf="pecas.length <= 0">
  <h2>Nenhuma peça cadastrada.</h2>
  <h4>Clique no botão de mais e adicione ume peça para inciar o processo de calculos do CP, CPK,PP e PPK</h4>
</div>

  <div *ngFor="let peca of pecas; index as nP">   
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{nP + 1}} - {{peca.peca}}</ion-card-title>
        <ion-card-subtitle>Informe as características</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-grid fixed>

            <div *ngFor="let carac of peca.carac; index as cP">
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating">Característica N {{cP +1}}</ion-label>
                    <ion-input type="text" [(ngModel)]="carac.desc"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">l.Min</ion-label>
                    <ion-input type="number" [(ngModel)]="carac.lmin"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">l.Max</ion-label>
                    <ion-input type="number" [(ngModel)]="carac.lmax"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row *ngFor="let obtido of carac.obtido; index as oP" class="ion-align-items-center">
                <ion-col size="10">
                  <ion-item>
                    <ion-label position="floating">Obtido</ion-label>
                    <ion-input type="number" [(ngModel)]="obtido.valor"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="2">
                  <ion-button color="danger" fill="outline" size="small" (click)="removeObtido(nP, cP, oP)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-col>

              </ion-row>

              <ion-button (click)="addObtido(nP,cP)" expand="full">
                Novo Valor Obtido
              </ion-button>

              <ion-button (click)="calcula(nP,cP)" expand="full" color="success">
                Calcular
              </ion-button>
            </div>
          </ion-grid>
        </ion-list>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="result.resultado">
      <ion-card-header>
        <ion-card-subtitle>Resultado</ion-card-subtitle>
        <ion-card-title>PP / PPK</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div>
          <ion-grid fixed>

            <ion-row color="primary">
              <ion-col size="8">PP</ion-col>
              <ion-col size="4">{{result.dados.pp}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">PP Min</ion-col>
              <ion-col size="4">{{result.dados.ppmin}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">PP Max</ion-col>
              <ion-col size="4">{{result.dados.ppmax}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">PPK</ion-col>
              <ion-col size="4">{{result.dados.ppk}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Média Valores Obtidos</ion-col>
              <ion-col size="4">{{result.dados.mediaObtidos}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Desvio Padrão</ion-col>
              <ion-col size="4">{{result.dados.desvio}}</ion-col>
            </ion-row>

            
          </ion-grid>
        </div>
        
        
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addPeca()"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>