<ion-header [translucent]="true">
  <ion-toolbar class="toolbarBackground">
    <ion-title>
      Inserir Dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div >
    <ion-card >
      <ion-card-header>
        <ion-card-title>Calcular Pp / Ppk</ion-card-title>
        <ion-card-subtitle (click)="alteraPeca()">{{peca.peca}} <ion-icon name="create-outline"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Característica</ion-label>
          <ion-input type="text" placeholder="Digite a Característica" [(ngModel)]="peca.desc"></ion-input>
        </ion-item>
        <ion-list>
          <ion-grid fixed>

            <div>
              <ion-row>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="floating">Limite Inferior</ion-label>
                    <ion-input type="number" [(ngModel)]="peca.lmin"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="6">
                  <ion-item>
                    <ion-label position="floating">Limite Superior</ion-label>
                    <ion-input type="number" [(ngModel)]="peca.lmax"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">Digite os Valores Obtidos</ion-col>
              </ion-row>
              <ion-row *ngFor="let obtido of peca.obtido; index as oP" class="ion-align-items-center">
                <ion-col size="10">
                  <ion-item>
                    <ion-input type="number" [(ngModel)]="obtido.valor"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="2">
                  <ion-button color="danger" fill="outline" size="small" (click)="removeObtido(oP)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-col>

              </ion-row>

              <ion-button (click)="addObtido()" expand="full">
                Novo Valor Obtido
              </ion-button>

              <ion-button (click)="calcula()" expand="full" color="success">
                Calcular
              </ion-button>
            </div>
          </ion-grid>
        </ion-list>

      </ion-card-content>
    </ion-card>

    <!-- <ion-card> -->
    <ion-card *ngIf="result.resultado">
      <ion-card-header>
        <ion-card-title>Resultado</ion-card-title>

      </ion-card-header>
      <ion-card-content>

        <div>
          <ion-grid fixed>

            <ion-row class="rowCabecPPK">
              <ion-col size="12">
                <div>
                  Pp / Ppk
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="rowResultPPK">
              <ion-col size="12">
                <div>
                  {{result.dados.pp}} / {{result.dados.ppk}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Pp Inferior</ion-col>
              <ion-col size="4">{{result.dados.ppmin}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Pp Superior</ion-col>
              <ion-col size="4">{{result.dados.ppmax}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Tamanho da Amostra</ion-col>
              <ion-col size="4">{{this.peca.obtido.length }}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Média</ion-col>
              <ion-col size="4">{{result.dados.mediaObtidos}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">Desvio Padrão</ion-col>
              <ion-col size="4">{{result.dados.desvio}}</ion-col>
            </ion-row>

          </ion-grid>
          <div class="lnc">LNC - Limite não calculado</div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>