<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <h1>Calculadora para índices de capabilidade Pp/Ppk e exibição de carta I-AM de controle de processo.</h1>
      <br>
      <h2>Basta inserir os valores medidos para obter o resultado de estabilidade e capabilidade.</h2>
      <br>
      <h6>O app permite uma visão inicial rápida, antes da elaboração de um estudo mais detalhado</h6>
    </ion-card-content>
  </ion-card>

</ion-content>
